/* styles.module.css */
/* styles.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.box {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 1s ease, transform 1s ease;
}

.box1 {
    width: 50%;
    border: 1px solid #000;
}

.box2 {
    width: 50%;
    border: 1px solid #000;
}

.animateLeft {
    opacity: 1;
    transform: translateX(0);
}

.animateRight {
    opacity: 1;
    transform: translateX(0);
}