/* styles.module.css */
.box {
    flex: 1;
    border: 1px solid #000;
    margin: 8px;
}

.container {
    display: flex;
    height: 70vh;
    /* overflow: hidden; */
}

.box_container {
    display: flex;
    flex: 1;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s ease;
    /* Adjust the transition duration and easing function */
    transform-origin: center;
}

.flipped {
    transform: rotateY(180deg);
}