.container {
  display: flex;
  /* flex-direction: column; */
  height: 100vh;
  /* overflow: auto; */
}

.hidecontainer {
  
  height: 100vh;
  /* overflow: auto; */
}

.top {
  display: flex;
  flex-direction: column;
  flex: 0.7;
  height: 90%;
  transition: height 1s;
}

.bottom {
  display: flex;
  flex: 1;
  height: 94%;
  /* padding-right: 60px; */
  transition: height 1s;
}

.box {
  flex: 1;
  border: 1px solid #000;
  margin: 3px;
}

.box1 {
  height: 50%;
  border: 1px solid #000;
  margin: 8px;
}

.inerbox {
  height: 100%;
  width: 100%;
}

/* Separate class for hiding the top */
.hideTop {
  height: 0;
  visibility: hidden;
  transition: height 1s;
}

/* Separate class for showing the bottom */
.showBottom {
  flex: 1;
  height: 90%;
  transition: height 1s;
  /* width: 100%; */
}

@media(max-width:800px){
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: auto; */
  }
  
  .hidecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: auto; */
  }
  
}
@media(max-width:500px){
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: auto; */
  }
  
  .hidecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: auto; */
  }
  .bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 94%;
    /* padding-right: 60px; */
    transition: height 1s;
  }
}